body{
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdzI2aTdzcW1hZ3NlZ3FuaTR3NTllaDdmNTZxaWF1cmd1eGIwaHFzayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26ufhUSkulR8ZGO40/giphy.gif");
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin:0 px ;
    color: rgb(0, 0, 0 );
  
}
button{
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 200px;
    margin : 5px 10px;
    border-radius: 5px;
    gap: 20px;
    transition: all 0.4s ease;


}
#increment-btn{
    background: rgb(167, 29, 29);
}
#save-btn{
    background: rgb(0, 100, 0);
}

button:hover{
    transform: scale(1.05);/*agrandir legerement*/
    opacity: 0.9; /*rendre un peu transparent*/

}